/* Tablet Views ******************************/
@media only screen and (min-width: 40em) {

    /* -------------------------------- HEADER ----------------------------- */
    header {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 0;
    }

    header img {
        width: auto;
        height: 130px;
    }

    h1 {
        font-size: 2.3rem;
        font-weight: lighter;
        padding: 0;
        margin: 0;
    }

    .motto {
        font-size: 1.1rem;
        margin-top: 10px;
    }

    /*------------------------------ NAVIGATION ---------------------- */

    nav {
        max-width: 100%;
    }

    .navigation {
        display: flex;
    }

    .navigation li {
        display: block;
        flex: 1 1 auto;
    }

    .navigation a {
        display: block;
        max-width: 760px;
        margin: 0 auto;
        text-align: center;
    }

    .navigation li:first-child {
        display: none;
    }

    nav a:hover {
        height: auto;
    }

    button {
        display: none;
    }

    /* ---------------------------- MAIN -----------------------------  */
    .gallery-section {
        grid-template-columns: 1fr 1fr;
      }

    h2 {
        font-size: 2.3rem;
    }

    /*-------------------------------------- CONTACT INFORMATION -------------- --*/

    .contact-img {
        display: flex;
        padding-right: 20px;
    }

    .contact-box {
        width: auto;
    }

    address {
        font-size: 1em;
        padding-right: 55px;
    }

    address a {
        font-size: 0.7em;
    }

    /* -------------------------------- FOOTER ----------------------------- */

    footer {
        background-color: #212529;
        color: #6d7e97;
        text-align: center;
        font-size: 0.75rem;
        font-family: 'Open Sans', sans-serif;
        padding: 15px;
    }

    footer a:link {
        color: rgb(14, 171, 243);
        text-decoration: none;
    }

}