/* Tablet Views ******************************/
@media only screen and (min-width: 40em) {

    /* -------------------------------- HEADER ----------------------------- */
    header {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 0;
    }

    header img {
        width: auto;
        height: 130px;
    }

    h1 {
        font-size: 2.3rem;
        font-weight: lighter;
        padding: 0;
        margin: 0;
    }

    .motto {
        font-size: 1.1rem;
        margin-top: 10px;
    }

    /*------------------------------ NAVIGATION ---------------------- */

    nav {
        max-width: 100%;
    }

    .navigation {
        display: flex;
    }

    .navigation li {
        display: block;
        flex: 1 1 auto;
    }

    .navigation a {
        display: block;
        max-width: 760px;
        margin: 0 auto;
        text-align: center;
    }

    .navigation li:first-child {
        display: none;
    }

    nav a:hover {
        height: auto;
    }

    button {
        display: none;
    }

    /* ------ MAIN -------  */

    h2 {
        font-size: 2.3rem;
    }

    /* ------------------ ARTICLE ---------------------- */
    
    /*---- Home Page: Feature ----*/
    div.feature {
        margin: 2.5rem;
        max-width: 100%;
        padding: 2rem 5rem 2rem 1rem;
        line-height: 1.5rem;
    }

    .article-img {
        float: right;
        margin: 0 -4rem 0 1.3rem;
        width: 45%;
    }

    .article-title {
        margin-top: 0;
        font-size: 1.9rem;
        line-height: 2rem;
    }

    /*------ Local Towns ------*/
    div.towns {
        padding: 1rem;
    }

    div.town-data section {
        grid-template-columns: 1fr 1fr;
    }

    div.town-data section div.town-data {
        grid-area: a;
    }

    div.town-data section div.town-image {
        grid-area: b;
    }

    div.town-data section {
        grid-template-areas:
            "a b";
    }

    div.town-data section:nth-child(2n) {
        grid-template-areas:
            "b a";
    }

    div.town-data section div.town-info {
        align-self: center;
        margin: 0.5rem 1rem;
    }

    div.town-data section h3 {
        font-size: 1.5rem;
    }

    div.town-data section p {
        font-size: 0.9rem;
    }

    div.town-data section div.town-image img {
        width: 100%;
        align-self: center;
    }


    /*------ CONTACT INFORMATION ------*/

    .contact-img {
        display: flex;
        padding-right: 20px;
    }

    .contact-box {
        width: auto;
    }

    address {
        font-size: 1em;
        padding-right: 55px;
    }

    address a {
        font-size: 0.7em;
    }

    /* ------ FOOTER ------- */

    footer {
        background-color: #212529;
        color: #6d7e97;
        text-align: center;
        font-size: 0.75rem;
        font-family: 'Open Sans', sans-serif;
        padding: 15px;
    }

    footer a:link {
        color: rgb(14, 171, 243);
        text-decoration: none;
    }

}