/* Desktop Views ****************************/
@media only screen and (min-width: 65em) {

    /* -------------------------------- HEADER ----------------------------- */

    header img {
        width: auto;
        height: 140px;
    }

    h1 {
        font-size: 3rem;
        font-weight: lighter;
        padding: 0;
        margin: 0;
    }

    .motto {
        font-size: 1.3rem;
        margin-top: 15px;
    }

    /* --------------------  NAVIGATION ------------------ */

    nav {
        max-width: 100%;
    }

    .navigation {
        display: flex;
        max-width: 950px;
        margin: 0 auto;
        text-align: center;
    }

    .navigation a {
        display: block;
        max-width: 760px;
        margin: 0 auto;
        text-align: center;
    }

    .navigation li:first-child {
        display: none;
    }

    nav a:hover {
        height: auto;
    }

    button {
        display: none;
    }

    h3 {
        font-size: 1.5rem;
    }

    /* ---------------------------- MAIN -----------------------------  */

    .preston-idaho {
        font-size: 2.15rem;
    }

    /* ------------------------------- WEATHER SUMMARY  -------------------- */

    .first-part {
        padding: 0;
    }

    .weather-summary {
        padding: 1.5rem;
    }

    .weather-summary h3 {
        font-size: 1.2em;
    }

    .ws-content {
        font-size: 1em;
    }

    .ws-content div {
        line-height: 1.75rem;
    }


    /* --------------------  5 DAY FORECAST  ------------------ */

    .second-part {
        margin: 2rem 0;
    }

    .forecast img {
        max-width: 70px;
        height: auto;
        padding: 10px;
    }

    /* --------------------------  ARTICLE  ------------------------ */
    .third-part {
        margin: 10px 0;
        padding: 3rem;
        line-height: 1.5rem;
    }

    .third-part p {
        padding-right: 20px;
    }

    .article-img {
        float: right;
        margin: 0 0 0 1rem;
        width: 55%;
    }

    /*-------------------------------------- CONTACT INFORMATION -------------- --*/

    address {
        font-size: 1em;
        padding-right: 70px;
    }

    address a {
        font-size: 0.7em;
    }

    /* -------------------------------- FOOTER ----------------------------- */
    footer {
        background-color: #212529;
        color: #6d7e97;
        text-align: center;
        font-size: 0.80rem;
        font-family: 'Open Sans', sans-serif;
        padding: 15px;
    }

    footer a:link {
        color: rgb(14, 171, 243);
        text-decoration: none;
    }

}